@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the COMP2084 Video Game Shop</h1>
    <p>This site is built in the Monday Class using .NET Core & SQL Server</p>
</div>
